<section id="signIn">
    <div class="box1">
        <h1>Admin</h1>
        <div class="input">
            <div>
                <md-input-container dividerColor="#009688" class="input-container">
                    <input md-input placeholder="Email">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="input-container">
                    <input md-input placeholder="Password">
                </md-input-container>
            </div>
        </div>
        <button md-button class="btn-sign-in" routerLink="/home/dashboard" routerLinkActive="active">SIGN IN</button>
    </div>
    <div class="box2">
        <div class="position">
            <a class="register" href="">Register</a>
            <span></span>
            <a class="get-password" href="">Forgot your password?</a>
        </div>
    </div>
</section>