<header class="nav-bar box-shadow">
    <div class="nav-title" [@collapse2]="isCollapse?'in':'out'">
        <i class="material-icons" [@collapse1]="isCollapse?'in':'out'">dashboard</i>
        <span [style.display]="isCollapse?'inline':'none'">Admin</span>
    </div>
    <div class="nav-content" [@collapse3]="isCollapse?'in':'out'">
        <ul class="nav-left">
            <li (click)="collapse()">
                <a href="javascript:void(0)">
                    <i class="material-icons">menu</i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="material-icons">settings</i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li>
                <a href="javascript:void(0)">
                    <img src="../../images/th.jpg" alt="" class="user-img">
                    <span class="user-name">Asession</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <img src="../../images/th.jpg" alt="" class="user-img">
                    <span class="user-name">中文</span>
                </a>
            </li>
        </ul>
    </div>

</header>