<header class="nav-bar box-shadow">
    <div class="nav-title">
      <md-icon>dashboard</md-icon>
      <span>Admin</span>
    </div>
    <div class="nav-content">
        <ul class="nav-left">
            <li>
                <a href="javascript:void(0)">
                    <md-icon>menu</md-icon>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <md-icon>settings</md-icon>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li>
                <a href="javascript:void(0)">
                    <img src="../../images/th.jpg" alt="" class="user-img">
                    <span class="user-name">Asession</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <img src="../../images/th.jpg" alt="" class="user-img">
                    <span class="user-name">中文</span>
                </a>
            </li>
        </ul>
    </div>

</header>