<aside class="side-bar" [@sideBarSlide]="isCollapse?'slideIn':'slideOut'">
    <ul>
        <li>
            <a routerLink="/home/dashboard" routerLinkActive="active">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">home</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" (click)="isShow=!isShow">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">mode_edit</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Form</span>
                <i class="material-icons expand-more" [style.display]="isCollapse?'inline-block':'none'">{{isShow?'expand_less':'expand_more'}}</i>
            </a>
            <div class="subnav" [@listSlide]="isShow&&isCollapse?'in':'out'">
                <ul>
                    <li>
                        <a routerLink="/home/form/elements" routerLinkActive="active">
                            <i class="material-icons">lens</i>
                            <span class="name">Form Elements</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home/form/validation" routerLinkActive="active">
                            <i class="material-icons">lens</i>
                            <span class="name">Form Validation</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home/form/wizard" routerLinkActive="active">
                            <i class="material-icons">lens</i>
                            <span class="name">Form Wizard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home/form/layouts" routerLinkActive="active">
                            <i class="material-icons">lens</i>
                            <span class="name">Form Layouts</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="/home/layout" routerLinkActive="active">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">view_quilt</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Layout</span>
            </a>
        </li>
        <li>
            <a routerLink="/home/tables" routerLinkActive="active">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">view_list</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Tables</span>
            </a>
        </li>
        <li>
            <a routerLink="/home/pages" routerLinkActive="active">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">web_asset</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Pages</span>
            </a>
        </li>
        <li>
            <a routerLink="/home/others" routerLinkActive="active">
                <i class="material-icons" [@iconSize]="isCollapse?'slideIn':'slideOut'">playlist_add</i>
                <span class="name" [style.display]="isCollapse?'inline':'none'">Others</span>
            </a>
        </li>
    </ul>
</aside>